
 body{

    background-image: url('../img/fondo.jpg');
    
}

html, body {
                background-color: #ffffff;
                color: #000000;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                margin: 0;

            }
            .full-height {
                height: 80vh;
}

.myButton {
    box-shadow:inset 16px 45px 12px -26px #6eb77f;
    background-color:#55db46;
    border-radius:42px;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:dancing;
    font-size:2rem;
    padding: 0.5rem;
    text-decoration:none;
    text-shadow:0px 3px 3px #2d5625;
}

@font-face {
    font-family: dancing;
    src:url('/img/fonts/dancing.ttf');

}

.dancing{
    font-family: "dancing";

}
.img-tabla{
    width: 100%;
    max-width: 25rem;

}
.myButton1 {
    box-shadow:inset 16px 45px 12px -26px #6eb77f;
    background-color:#00ffe9;
    border-radius:42px;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:dancing;
    font-size:12px;
    padding:5px 18px;
    text-decoration:none;
    text-shadow:0px 3px 3px #2d5625;
}

.myButton2 {
    box-shadow:inset 16px 45px 12px -26px #dbd530;
    background-color:#dbd530;
    border-radius:42px;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:dancing;
    font-size:15px;
    padding:5px 25px;
    text-decoration:none;
    text-shadow:0px 3px 3px #2d5625;
}

@media (min-width: 770px) {

.img-tabla{
    width: 100%;
    max-width: auto;
    min-width: 8rem;

}
}
